.couleur {
  color: black; }

.align {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 35px; }

#rectangle {
  background-color: #ff0000;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px black;
  border-left: solid 1px black; }

.header {
  background-color: #e0e0e0;
  height: 150px;
  width: 100%;
  border: solid 1px black; }

#logo {
  height: 98px;
  width: 100px; }

#avatar {
  width: 100px;
  height: 98px;
  object-fit: fill; }

#copyright {
  text-align: left; }

#pied-de-page {
  text-align: right; }

#navbarBasicExample {
  background-color: #e0e0e0;
  font-family: 'Source Sans Pro', sans-serif;
  height: 82,5; }

.navbar-end {
  background-color: #e0e0e0; }

#label {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  position: relative;
  top: 4rem;
  right: 17.5rem; }

#positionnement {
  text-align: center; }

.navbar-brand {
  border-left: solid 1px black; }

#taille {
  font-size: 14px;
  border-color: black;
  border-radius: 6px;
  font-weight: bold; }

#synopsis {
  position: relative;
  top: 4.5rem;
  right: 17.4rem; }

#documentation {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  position: relative;
  top: 6.5rem;
  right: 13.1rem; }

#lien {
  text-decoration: underline black;
  position: relative;
  top: 7rem;
  right: 3.6rem; }

#espacecom {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  position: relative;
  top: 16rem;
  right: 18.6rem; }

#commentaire {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  position: relative;
  top: 8rem;
  right: 1.5rem; }

.btn {
  background-color: #ffffff;
  /* Green */
  border: solid 1px #000000;
  color: #000000;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  float: left;
  width: 320px;
  height: 30px;
  border-radius: 5px; }

.btn:not(:last-child) {
  border-right: none;
  /* Prevent double borders */ }

.btn-group {
  display: flex;
  justify-content: center;
  position: relative;
  top: 1rem; }

#ligne {
  position: absolute;
  bottom: 10.7rem;
  width: 1410px;
  height: 1px;
  background-color: #000000; }

#espacement {
  display: flex;
  justify-content: center; }
