.btn {
    display: block;
    background-color: #ffffff; /* Green */
    border: solid 1px #000000;
    color: #000000;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 320px;
    line-height: 40px;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 8px 15px -2px rgba(0,0,0,0.5);
  }

  .btn-black {
    background-color: #000000;
    color: #ffffff;
    transition: all ease-in-out 200ms;

    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
  
  .btn-group {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1rem;
  }
  