footer.footer {
    width: 100%;
    height: 165px;
    background-color: #e0e0e0 !important;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    border: none;
    padding: 0;
}
  


#copyright {
    text-align: left;
 }
  
  #pied-de-page {
    text-align: right;
  }

  .align {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 35px;
  }
  
  .couleur {
    color: black;
  }
  
