.header {
    background-color: #e0e0e0;
    width: 100%;
    border-bottom: 1px solid #000000;

    .navbar-brand {
      border: none !important;
    }
}
  
  #logo {
    width: 100px;
    height: 70px;
    object-fit: fill;
  }
  
  #avatar {
    width: 40px;
    height: 40px;
    object-fit: fill;
  }

  .avatar {
    display: flex;
  }

#rectangle {
    background-color: #ff0000;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px;
}
  