.login,
       .inscription,
            .ajout-ressource,
                .modification {
    max-width: 450px;
    margin: 70px auto;
    text-align: center;
    border: solid 2px;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;

    select {
        margin: 5px;
    }

    hr {
        background-color: black;
    }

    @media (max-width: 400px) {
        border: none;
    }

    .fas{
        padding-right: 5px;
    }

    .far{
        padding-right: 5px;
    }

    .col-md-6 input{
        border: solid 2px black ;
        background-color: #ff3c3c ;
        width: 330px;
        height: 40px;
        margin: 5px;
        
        @media (max-width: 400px) {
            width: 250px;
            border: solid 2px black ;
        }
    }

    .card-header {
        box-shadow: none !important;
        font-size: 18px;
        display: flex;
        justify-content: center;
    }

    .card {
        box-shadow: none !important;

        &-inscription {
            padding: 20px;
        }
    }
    
    .form-group {
        &.row {
            margin: 30px;
            padding-left: 8px;
        }

        .col-form-label {
            display: block;
            margin: 10px 0 5px 0;
        }

        @media (min-width: 500px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0;
            flex-wrap: wrap;

            &.center {
                justify-content: center;
            }
    
            .col-form-label {
                flex-shrink: 0;
                margin: 0;
            }
                
            .form-check-input {
                margin-right: 10px;
            }

            .invalid-feedback {
                display: block;
                width: 100%;
                font-size: 12px;

                strong {
                    color:red;
                }
            }
        }
    }

    .actions {
        .btn-connect {
            display: block;
            margin: 30px auto;
            background-color: black;
            color: white;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            width: 320px;
            line-height: 40px;
            height: 40px;
            border: none;
            
            @media (min-width: 500px) {
                margin: 10px auto;
            }
        }
    }
}