#navbarBasicExample {
    background-color: #e0e0e0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 82,5;
  }
  
  .navbar-end {
    background-color: #e0e0e0;
  }

  .navbar-brand {
    border-left: solid 1px black;
  }
  .navbar-item img {
    max-height: none !important;
  }