/* Liste des ressources */
.ressources {

  .ressource {
    max-width: 600px;
    margin: 25px auto;
    padding: 0 20px;

    h2 a {
      font-size: 20px;
      color: #000000;
      font-weight: bold;
    }

    p {
      margin: 5px 0;
    }

    .btn {
      width: 100%;
    }
  }

  nav {
    // ICI
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    span {
      visibility: hidden;
    }
  }
}



/* Page ressource */
.page-ressource {
  max-width: 600px;
  margin: 25px auto;
  padding: 0 20px;

  h1 {
    font-size:30px;
  }
  
  .label {
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }  

  .synopsis {
  }

  .lien a {
    color: #000000;
    text-decoration: underline;
  }

  .position-ressource {
    display: flex;
    justify-content: space-between;
  }
}
